/* Contact Us */

#contactUsFooter{
    padding-bottom: 20px;
}

/* Footer */
.bg-footer{
    background-color: rgb(35, 35, 35);
    color: white;
}

.bg-footer a{
    text-decoration: none;
    color:white;
}