/* Contact Us */

#contactUsFooter{
    padding-bottom: 20px;
}

/* Footer */
.bg-footer{
    background-color: rgb(35, 35, 35);
    color: white;
}

.bg-footer a{
    text-decoration: none;
    color:white;
}

/* footer */
#contactUsFooter .contact-icon{
    width: 30px;
    height: 30px;
}

#contactUsFooter .contact-icon_offset-bg{
    width: 30px;
    height: 30px;
}

#contactUsFooter .contact-icon_offset-bg{
    background-color: rgb(169, 208, 192);
}